@model SurveysManagement.Web.Models.ViewUserInfoViewModel
@{
    ViewBag.Title = "View User Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }

    table {
        border-spacing: 15px;
    }
</style>


<form class="card" action="EditUser" method="post">
    @Html.AntiForgeryToken()

    <div class="card-body p-6">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" value="@Model.Name" name="Name" disabled="disabled" class="form-control" placeholder="No Data">
        </div>

        <div class="form-group">
            <label class="form-label">Birth Date</label>
            <input type="text" value="@Model.BirthDate" name="BirthDate" disabled="disabled" class="form-control" placeholder="No Data">
        </div>
        <div class="form-group">
            <label class="form-label">Expiry Date</label>
            <input type="text" value="@Model.ExpiryDate" name="ExpiryDate" disabled="disabled" class="form-control" placeholder="No Data">
        </div>
        <div class="form-group">
            <label class="form-label">Phone</label>
            <input type="tel" value="@Model.Phone" name="Phone" disabled="disabled" class="form-control" placeholder="No Data">
        </div>
        <div class="form-group">
            <label class="form-label">Shift Start</label>
            <input type="time" value="@Model.ShiftStart" name="ShiftStart" disabled="disabled" class="form-control" placeholder="No Data">
        </div>
        <div class="form-group">
            <label class="form-label">Shift End</label>
            <input type="time" value="@Model.ShiftEnd" name="ShiftEnd" disabled="disabled" class="form-control" placeholder="No Data">
        </div>







        @{

            string Male = "checked='checked'";
            string Female = "";

            if (Model.Gender == "M")
            {
                Male = "checked='checked'";
                Female = "";
            }
            else if (Model.Gender == "F")
            {
                Male = "";
                Female = "checked='checked'";
            }

            string UserRole = "checked";
            string AdminRole = "";
            string ClientRole = "";

            if (Model.RoleId == "1")
            {
                UserRole = "checked='checked'";
                AdminRole = "";
                ClientRole = "";
            }
            else if (Model.RoleId == "2")
            {
                UserRole = "";
                AdminRole = "checked='checked'";
                ClientRole = "";
            }
            else if (Model.RoleId == "3")
            {
                UserRole = "";
                AdminRole = "";
                ClientRole = "checked='checked'";
            }
        }
        <div class="form-group">
            <label class="form-label">Gender</label>
            <div class="custom-controls-stacked">
                <label class="custom-control custom-radio custom-control-inline">
                    <input disabled="disabled" type="radio" class="custom-control-input" name="Gender" value="M" @Male>
                    <span class="custom-control-label">Male</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input disabled="disabled" type="radio" class="custom-control-input" name="Gender" value="F" @Female>
                    <span class="custom-control-label">Female</span>
                </label>
            </div>

        </div>
        <div class="form-group">
            <label class="form-label">User type</label>
            <div class="custom-controls-stacked">

                <label class="custom-control custom-radio custom-control-inline">
                    <input disabled="disabled" type="radio" class="custom-control-input" name="RoleId" value="1" @UserRole>
                    <span class="custom-control-label">User</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input disabled="disabled" type="radio" class="custom-control-input" name="RoleId" value="2" @AdminRole>
                    <span class="custom-control-label">Admin</span>
                </label>
                <label class="custom-control custom-radio custom-control-inline">
                    <input disabled="disabled" type="radio" class="custom-control-input" name="RoleId" value="3" @ClientRole>
                    <span class="custom-control-label">Client</span>
                </label>

            </div>
        </div>

    </div>


    <div class="card-body p-6">

        <table style="width:50%">
            <tr>
                <th>Project Name </th>
                <th>Task Done Count</th>
            </tr>

            @foreach (var customer in ViewBag.UserTasks)
            {
                @*<li>Project Name : @customer.Key , Task Done Count : @customer.Value</li>
                    string ProName = @customer.Key;*@
                <tr>
                    <td> @customer[0]</td>
                    <td> @customer[1] </td>
                </tr>



            }
        </table>



    </div>
</form>

<div class="form-footer">
    <a href="@Url.Action("UsersList", "Account")" class="btn btn-primary btn-block">Back</a>
</div>




























@*@Html.EditorFor(model => model.Id)
    @Html.EditorFor(model => model.RoleId)
    @Html.EditorFor(model => model.Name)
    @Html.EditorFor(model => model.Major)
    @Html.EditorFor(model => model.Phone)
    @Html.EditorFor(model => model.ShiftDescription)
    @Html.EditorFor(model => model.Gender)
    @Html.EditorFor(model => model.Area)
    @Html.EditorFor(model => model.BirthDate)
    @Html.EditorFor(model => model.Education)
    @Html.EditorFor(model => model.City)
    @Html.EditorFor(model => model.ExpiryDate)
    @Html.EditorFor(model => model.ShiftEnd)
    @Html.EditorFor(model => model.ShiftStart)
    @Html.EditorFor(model => model.Street)*@

@*<script>
        $(document).ready(function () {
            ///

            $('#Id').attr('disabled', true);
            $('#RoleId').attr('disabled', true);
            $('#Name').attr('disabled', true);
            $('#Major').attr('disabled', true);
            $('#Phone').attr('disabled', true);
            $('#ShiftDescription').attr('disabled', true);
            $('#Gender').attr('disabled', true);
            $('#Area').attr('disabled', true);
            $('#BirthDate').attr('disabled', true);
            $('#Education').attr('disabled', true);
            $('#City').attr('disabled', true);
            $('#ExpiryDate').attr('disabled', true);
            $('#ShiftEnd').attr('disabled', true);
            $('#ShiftStart').attr('disabled', true);
            $('#Street').attr('disabled', true);


        });
    </script>*@



