@model SurveysManagement.Web.Models.QuestionViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form class="card" action="Create" method="post">
   
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        <div class="card-body p-6">
            <div class="card-title">Create new Question</div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label class="form-label">Name</label>
                <input type="text" value="@Model.Name" name="Name" class="form-control" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label class="form-label">Text</label>
                <input type="text" value="@Model.Text" name="Text" class="form-control" placeholder="Enter Text">
            </div>
            <div class="form-group">
                <label class="form-label">From</label>
                <input type="number" value="@Model.From" name="Text" class="form-control" placeholder="Enter From">
            </div>
            <div class="form-group">
                <label class="form-label">To</label>
                <input type="number" value="@Model.To" name="To" class="form-control" placeholder="Enter To">
            </div>
            <div class="form-group">
                <label class="form-label">Name</label>
                <select value="@Model.TypeId" name="Name" class="form-control">
                    
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    </form>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
